body {
    background: linear-gradient(to top, black,rgb(20, 63, 100));
    font-family: 'Times New Roman', serif, sans-serif;
    margin: 40px;
    color: #ffffff;
}
h1 {
    background:linear-gradient(to bottom, blue, black);
    text-align: center;
    border: 1px solid black;
    border-radius:50px ;
    margin: 10px;
    padding: 10px;
    color: #ffffff;
}
.foto {
    box-shadow: 0px 5px 10px black;
    width: 250px;
}
.topo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.card {
    background: linear-gradient(to bottom, grey, rgb(49, 49, 49));
    border: 1px solid blue;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0);
    padding: 15px;
    margin: 15px;
}

